<!DOCTYPE html>
<html>
  <head>
    <title>Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
      #banner {
        height: 360px;
        width: 100%;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-2 mb-4">      
        {{company_name}} Careers</h1> <!-- calling name from .py file-->
      <img class="img-fluidid" id="banner" src="https://my-first-website.kshitizprajapat.repl.co/static/banner.jpg"/>
      <h2 class="text-center mt-2 mb-4">About Jovian</h2>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rutrum turpis metus, a posuere nisi elementum eu. Quisque fermentum metus nibh, vitae tristique mauris pellentesque et. Nullam sit amet commodo nibh, vitae sagittis lectus. Morbi eu augue nisi. Sed a odio vel neque sagittis pulvinar. Morbi eu nisl efficitur ligula dignissim dapibus. Pellentesque suscipit ac libero nec condimentum. Maecenas ut velit in ex mattis faucibus quis quis ipsum. Cras sollicitudin tellus purus, at fermentum arcu semper ac. Vestibulum mattis a quam eget sagittis. Suspendisse a suscipit diam. Donec sagittis feugiat pharetra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;</p>
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <p>
        <!-- {{jobs}}  calling dictonary-->
        <div style = margin-bottom:2px;>
        {% for job in jobs%} <!-- inturducing for loop / opening tag-->
          {%include 'jobitem.html'%}
        
        {% endfor%} <!-- end tag for for loop-->
        </div>
      </p>
      <div class="text-center">
      <button class="text-center btn btn-primary btn-lg">Contact Us</button>
        <p class="mt-4">Copyright 2022, Jovian</p>
      </div>
    <div/>
  </body>
  
</html>